<?xml version="1.0"?>
<config>
    <modules>
        <Mygento_Dummy>
            <version>1.0.0</version>
        </Mygento_Dummy>
    </modules>
    <global>
        <blocks>
            <dummy>
                <class>Mygento_Dummy_Block</class>
            </dummy>
        </blocks>
        <helpers>
            <dummy>
                <class>Mygento_Dummy_Helper</class>
            </dummy>
        </helpers>
        <models>
            <dummy>
                <class>Mygento_Dummy_Model</class>
                <!--<resourceModel>dummy_resource</resourceModel>-->
            </dummy>
            <!--<dummy_resource>-->
                <!--<class>Mygento_Dummy_Model_Resource</class>-->
                <!--<entities>-->
                    <!--<dummy>-->
                        <!--<table>mygento_dummies</table>-->
                    <!--</dummy>-->
                <!--</entities>-->
            <!--</dummy_resource>-->
        </models>
        <resources>
            <!--It is for running setup and upgrade scripts from sql folder-->
            <!--<dummy_setup>-->
                <!--<setup>-->
                    <!--<module>Mygento_Dummy</module>-->
                <!--</setup>-->
                <!--<connection>-->
                    <!--<use>core_setup</use>-->
                <!--</connection>-->
            <!--</dummy_setup>-->
        </resources>
        <events>
            <customer_save_before>
                <observers>
                    <dummy_any_name_of_the_action>
                        <type>singleton</type>
                        <class>dummy/observer</class>
                        <method>dummyMethod</method>
                    </dummy_any_name_of_the_action>
                </observers>
            </customer_save_before>
        </events>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <dummy after="Mage_Adminhtml">Mygento_Dummy_Adminhtml</dummy>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <dummy>
                    <files>
                        <default>Mygento_Dummy.csv</default>
                    </files>
                </dummy>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <dummy>
                                            <title>Dummy Configuration</title>
                                        </dummy>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
    <default>
        <dummy>
            <general>
                <debug>0</debug>
                <cron_settings>0 22 * * *</cron_settings>
            </general>
        </dummy>
    </default>
    <frontend>
        <translate>
            <modules>
                <dummy>
                    <files>
                        <default>Mygento_Dummy.csv</default>
                    </files>
                </dummy>
            </modules>
        </translate>
        <!--If we need to change layout-->
        <!--<layout>-->
            <!--<updates>-->
                <!--<dummy>-->
                    <!--<file>dummy/customer.xml</file>-->
                <!--</dummy>-->
            <!--</updates>-->
        <!--</layout>-->
        <routers>
            <!--It is for frontend controller-->
            <dummy>
                <use>standard</use>
                <args>
                    <module>Mygento_Dummy</module>
                    <frontName>dummy</frontName>
                </args>
            </dummy>
        </routers>
        <default>
            <router>dummy</router>
        </default>
    </frontend>
    <crontab>
        <jobs>
            <dummy_job>
                <schedule>
                    <config_path>dummy/general/cron_settings</config_path>
                </schedule>
                <run>
                    <model>dummy/dummy::ololoMethod</model>
                </run>
            </dummy_job>
        </jobs>
    </crontab>
</config>
